# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Admin SDK.json
flowus-app-dev-fb-admin-sdk-key.json
